.menu-web{
    background: linear-gradient(to right, var(--back-color-purple), var(--back-color-pink));
    position: fixed;
    width: 100%;
    z-index: 99;
    .text-menu {
        color: white;
        cursor: pointer;
        text-decoration: none;
        font-size: 0.9em;
        &:hover{
            font-weight: bold;
        }
    }
    .aling-text {
        display: flex;
        align-items: center;
    }
    .btn-lang {
        font-size: 0.8em;
        cursor: pointer;
        padding: 5px;
        background-color: transparent;
        border: 1px solid white;
        border-radius: 5px;
        color:white;
        width: 50px;
        &:hover {
            background-color: var(--back-color-purple);
        }
    }
}
.menu-item ul.sub-menu{
        background-color:var(--back-color-purple);
        color: white;
        width:200px;
        text-align:center;
        padding:25px 30px 13px;
        transition:all ease .4s;
        -webkit-transition:all ease .4s;
        -moz-transition:all ease .4s;
        visibility:hidden;
        opacity:0;
        margin:auto;
        position:absolute;
        text-align:center;
        top:200px;
        left: -20px;
        transform:translateX(10%);
        z-index:100;
        list-style: none;
        li {
            margin-bottom: 5px;
        }
} 
.menu-item .text-menu:hover + ul.sub-menu{
    visibility:visible !important;
    opacity:1;
    top:15px;
}

.menu-item .sub-menu:hover{
    visibility: visible !important;
    opacity:1;
    top:15px;
}